# Business Density Mapping - An ETL Project

In this project I developed an application that helps businesses in the automotive and dry cleaning industries to visualize the density of similar businesses in the top 100 cities in Canada. 

The project proceeds through the following steps:
1. Extract
    - The names of the top 100 cities in Canada by population were scraped from an HTML table found on [Wikipedia](https://en.wikipedia.org/wiki/List_of_the_100_largest_municipalities_in_Canada_by_population)
    - The latitude and longitude of businesses in the automotive and dry cleaning industries were extracted by making API calls to the Yelp API.

2. Transform
    - Data manipulation was performed using pandas dataframes. Only columns of interest were selected from the HTML table scraped from Wikipedia. A density column was also added by dividing the Population column by the Land Area column.
    - The data extracted from the json Yelp API call response was stored in a dictionary from which a dataframe was created.

3. Load
    - the pandas dataframes holding the cities table and the businesses table were loaded to the MySQL database for future use.

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from project_files_diana import api_key_diana

### Create a database connection

In [2]:
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
engine = create_engine("mysql://root:root123@localhost:3306/")

In [4]:
engine.execute("CREATE DATABASE prospecting_business")

In [5]:
engine.execute("USE prospecting_business")

### Get the City Table from Wikipedia Webpage

In [6]:
## 1. Extract
city100_url = "https://en.wikipedia.org/wiki/List_of_the_100_largest_municipalities_in_Canada_by_population"
table_city = pd.read_html(city100_url)[0]

## 2. Transform
#Select columns of interest
table_city_short = table_city[[0,1,2,4,6]]
#Rename the columns 
col_names = {}
for col in table_city_short.columns:
    col_names[col] = table_city_short[col][0].split('(')[0]

city_df = table_city_short.rename(columns = col_names)
city_df = city_df.drop([0])

city_cols = city_df.columns
city_df["Population"] = pd.to_numeric(city_df['Population'])
city_df[city_cols[3]] = pd.to_numeric(city_df[city_cols[3]]) #Land area
city_df["Density"] = city_df["Population"] / city_df[city_cols[3]]
city_df.head()

  Rank Municipality Province  Land area  Population      Density
1    1      Toronto  Ontario      630.2     2731571  4334.450968
2    2     Montreal   Quebec      365.1     1704694  4669.115311
3    3      Calgary  Alberta      825.3     1239220  1501.538834
4    4       Ottawa  Ontario     2790.2      934243   334.830120
5    5     Edmonton  Alberta      684.4      932546  1362.574518

In [9]:
## 3.Load
#Export DataFrame to SQL
city_df = city_df.astype('str')
city_df.to_sql("City", con=engine, index=False, if_exists='replace')

In [10]:
city_df.shape

(100, 6)

### Yelp Data

In [11]:
client_key = api_key_diana.client_ID
api_key = api_key_diana.api_Key
headers = {"Authorization":"Bearer " + api_key}

In [12]:
business_type = "dryclean"

For every city scraped from Wikipedia, a call is made to the Yepl API using city as location and the value stored in business_type variable above. The API response contains a json file containing information about 50 different businesses in the city. The Yepl_ID, Name, Address, City, Province, Postal Code, Latitude and Longitude for each business is stored in a dictonary, that is later converted in a DataFrame.

In [13]:
business_dic_main = {"Yelp_ID":[],"Name":[],"Address":[],"City":[],"Province":[],"Postal_Code":[],"Lat":[],"Long":[]}
business_df = pd.DataFrame(business_dic_main)
count = 0
for city in city_df.iterrows():   
    city_name = city[1]["Municipality"]
    prov_name = city[1]["Province"]
    url = "https://api.yelp.com/v3/businesses/search?categories="+business_type+"&location="+city_name+"%2C+"+prov_name+"&limit=50"
    businesses_results = requests.get(url, headers=headers).json()
    business_dic = {"Yelp_ID":[],"Name":[],"Address":[],"City":[],"Province":[],"Postal_Code":[],"Lat":[],"Long":[]}
    for i in range(len(businesses_results["businesses"])):
        business_dic["Yelp_ID"].append(businesses_results["businesses"][i]['id'])
        business_dic["Name"].append(businesses_results["businesses"][i]['name'])
        business_dic["Address"].append(businesses_results["businesses"][i]['location']['address1'])
        business_dic["City"].append(businesses_results["businesses"][i]['location']['city'])
        business_dic["Province"].append(businesses_results["businesses"][i]['location']['state'])
        business_dic["Postal_Code"].append(businesses_results["businesses"][i]['location']['zip_code'])
        business_dic["Lat"].append(businesses_results["businesses"][i]['coordinates']['latitude'])
        business_dic["Long"].append(businesses_results["businesses"][i]['coordinates']['longitude'])
    new_df = pd.DataFrame(business_dic)
    business_df = business_df.append(new_df, ignore_index = True)
#business_df.to_sql(business_type, con=engine, if_exists='replace')

In [14]:
business_df.shape

(1742, 8)

In [15]:
business_df.astype('str');

Upload the business DataFrame to the database

In [16]:
business_df.to_sql(business_type, con=engine, if_exists='replace')

Display the location of all businesses in Canada on a map

In [17]:
#Read table from the SQL database to a pandas DataFrame
business_df = pd.read_sql("SELECT * FROM dryclean;",engine)
business_df.head()

,index,Yelp_ID,Name,Address,City,Province,Postal_Code,Lat,Long
0,0,SdvdMVSGcnJtIUM5TjTtGg,Alfred,564 Church Street,Toronto,ON,M4Y 2E3,43.666020,-79.381250
1,1,um3VsJcanCcSnO-1iyi8ZQ,Brite Cleaners,1033 Bay Street,Toronto,ON,M5S 3A5,43.665804,-79.387450
2,2,HacQEkocmt_s1LWLpL343w,Queen Dry Cleaners,157 John Street,Toronto,ON,M5T 1X3,43.650172,-79.391046
3,3,3yZotoVfgOV9w3gjQI6W_w,Studio Kim,851 Queen Street W,Toronto,ON,M6J 1G4,43.645797,-79.410435
4,4,iej4585FYKi4rnAMmYDYyg,Mr. Baffo,None,Toronto,ON,M5G 2C4,43.659620,-79.387100

In [18]:
import gmaps

In [19]:
locations = business_df[["Lat","Long"]]
fig = gmaps.figure()
#fig.add_layer(gmaps.heatmap_layer(locations))
fig.add_layer(gmaps.symbol_layer(locations))

In [25]:
from ipywidgets.embed import embed_minimal_html
embed_minimal_html(business_type + '.html', views=[fig])

[Automotive Map](automotive.html)

[Dry Cleaning Map](dryclean.html)